ul {
  list-style: none;
}

li {
  background-color: lightblue;
  width: 500px;
  border-style: solid;
}

button {
  width: 100%;
  background-color:#666666;
  color: white;
}

p {
  padding-left: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}